.DS_Store
.vscode/*
!.vscode/extensions.json
.idea
*.iml
*.code-workspace
.changelog
.history

node_modules
.yarn

.eslintcache

yarn-error.log
build
coverage
.docusaurus
.cache-loader
types
test-website
test-website-in-workspace

packages/create-docusaurus/lib/
packages/lqip-loader/lib/
packages/docusaurus/lib/
packages/docusaurus-*/lib/*
packages/eslint-plugin/lib/
packages/stylelint-copyright/lib/

website/netlifyDeployPreview/*
website/changelog
!website/netlifyDeployPreview/index.html
!website/netlifyDeployPreview/_redirects

website/_dogfooding/_swizzle_theme_tests

website/i18n/**/*
#!website/i18n/fr
#!website/i18n/fr/**/*
test-appsmith-docusaurus/.env
.vale.ini
vale.ini
Linter/ValeLinter.md
styles/Google/Acronyms.yml
styles/Google/AMPM.yml
styles/Google/Colons.yml
styles/Google/Contractions.yml
styles/Google/DateFormat.yml
styles/Google/Ellipses.yml
styles/Google/EmDash.yml
styles/Google/EnDash.yml
styles/Google/Exclamation.yml
styles/Google/FirstPerson.yml
styles/Google/Gender.yml
styles/Google/GenderBias.yml
styles/Google/HeadingPunctuation.yml
styles/Google/Headings.yml
styles/Google/Latin.yml
styles/Google/LyHyphens.yml
styles/Google/meta.json
styles/Google/OptionalPlurals.yml
styles/Google/Ordinal.yml
styles/Google/OxfordComma.yml
styles/Google/Parens.yml
styles/Google/Passive.yml
styles/Google/Periods.yml
styles/Google/Quotes.yml
styles/Google/Ranges.yml
styles/Google/Semicolons.yml
styles/Google/Slang.yml
styles/Google/Spacing.yml
styles/Google/Spelling.yml
styles/Google/Units.yml
styles/Google/vocab.txt
styles/Google/We.yml
styles/Google/Will.yml
styles/Google/WordList.yml
styles/Microsoft/Accessibility.yml
styles/Microsoft/Acronyms.yml
styles/Microsoft/Adverbs.yml
styles/Microsoft/AMPM.yml
styles/Microsoft/Auto.yml
styles/Microsoft/Avoid.yml
styles/Microsoft/Backend.yml
styles/Microsoft/ComplexWords.yml
styles/Microsoft/Contractions.yml
styles/Microsoft/Dashes.yml
styles/Microsoft/DateFormat.yml
styles/Microsoft/DateNumbers.yml
styles/Microsoft/DateOrder.yml
styles/Microsoft/Ellipses.yml
styles/Microsoft/FirstPerson.yml
styles/Microsoft/Foreign.yml
styles/Microsoft/Gender.yml
styles/Microsoft/GenderBias.yml
styles/Microsoft/GeneralURL.yml
styles/Microsoft/HeadingAcronyms.yml
styles/Microsoft/HeadingColons.yml
styles/Microsoft/HeadingPunctuation.yml
styles/Microsoft/Headings.yml
styles/Microsoft/Hyphens.yml
styles/Microsoft/meta.json
styles/Microsoft/Negative.yml
styles/Microsoft/Ordinal.yml
styles/Microsoft/OxfordComma.yml
styles/Microsoft/Passive.yml
styles/Microsoft/Percentages.yml
styles/Microsoft/Quotes.yml
styles/Microsoft/RangeFormat.yml
styles/Microsoft/Ranges.yml
styles/Microsoft/RangeTime.yml
styles/Microsoft/Semicolon.yml
styles/Microsoft/SentenceLength.yml
styles/Microsoft/Spacing.yml
styles/Microsoft/Suspended.yml
styles/Microsoft/Terms.yml
styles/Microsoft/Units.yml
styles/Microsoft/URLFormat.yml
styles/Microsoft/Vocab.yml
styles/Microsoft/We.yml
styles/Microsoft/Wordiness.yml
styles/Readability/AutomatedReadability.yml
styles/Readability/ColemanLiau.yml
styles/Readability/FleschKincaid.yml
styles/Readability/FleschReadingEase.yml
styles/Readability/GunningFog.yml
styles/Readability/LIX.yml
styles/Readability/meta.json
styles/Readability/SMOG.yml
styles/Vocab/Blog/accept.txt
styles/Vocab/Blog/reject.txt
styles/Vocab/Marketing/accept.txt
styles/Vocab/Marketing/reject.txt
