/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #f86a2b;
  --ifm-color-primary-dark: #ed6227;
  --ifm-color-primary-darker: #df5b23;
  --ifm-color-primary-darkest: #d15420;
  --ifm-color-primary-light: #f9936b;
  --ifm-color-primary-lighter: #fbb195;
  --ifm-color-primary-lightest: #fbb195;
  --ifm-code-font-size: 90%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #f9936b;
  --ifm-color-primary-dark: #ed6227;
  --ifm-color-primary-darker: #df5b23;
  --ifm-color-primary-darkest: #d15420;
  --ifm-color-primary-light: #f9936b;
  --ifm-color-primary-lighter: #fbb195;
  --ifm-color-primary-lightest: #fbb195;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.theme-doc-sidebar-item-category-level-1 > .menu__list-item-collapsible > .menu__link--sublist {
    margin-bottom: 6px;
    font-size: .938rem;
    font-weight: 600;
    line-height: 100%;
    color: #000;
    /* letter-spacing: 1px; */
}

[data-theme='dark'] .theme-doc-sidebar-item-category-level-1 > .menu__list-item-collapsible > .menu__link--sublist  {
  color: #fff;
}

.menu__list li:last-of-type {
  -webkit-padding-after: 1.5rem;
  padding-block-end: 0.5rem;
}

.menu__link {
  align-items: center;
  display: flex;
  font-size: .875rem;
  font-weight: 500;
  letter-spacing: -.01em;
  line-height: 16px;
  transition: opacity .2s ease-out;
}

.theme-doc-sidebar-menu .menu__list-item .menu__caret:before, .theme-doc-sidebar-menu .menu__list-item .menu__link--sublist:after {
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEyIDEwIDggNmwtNCA0IiBzdHJva2U9IiMxQjI3MzgiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz48L3N2Zz4=) 50% no-repeat;
  height: 1.5rem;
  min-height: 29.5px;
  min-width: 1.5rem;
  width: 1.5rem;
}
.theme-doc-sidebar-item-category-level-1 > .menu__list-item-collapsible > .menu__link--sublist.theme-doc-sidebar-menu .menu__list-item .menu__caret:before, .theme-doc-sidebar-menu .menu__list-item .menu__link--sublist:after {
    background: none;
    height: 1.5rem;
    min-height: 29.5px;
    min-width: 1.5rem;
    width: 1.5rem;
}
.menu__caret {
   padding: 0em 0.375em 0em 0.75em !important;
}

[class^=sidebar_] {
  -webkit-padding-before: 1rem;
  max-height: calc(100vh - var(--ifm-navbar-height));
  overflow-y: auto;
  padding-block-start: 1rem;
  position: static;
  padding-inline-end: 0.5em;
    padding-inline-start: 0.5em;
}

[class^=sidebar_]>.menu {
  -webkit-padding-after: 2rem;
  overflow-x: initial;
  padding: 0;
  padding-block-end: 2rem;
}
.menu__list {
  display: block!important;
  margin: 0;
  transition: height .35s cubic-bezier(.36,.66,.04,1) 25ms!important;
  will-change: auto!important;
}

.navbar__item.navbar__link {
  font-size: 14px;
  line-height: 20px;
}

.DocSearch-Button {
  border-radius: 8px !important;
  box-shadow: inset 0 0 0 1px var(--c-indigo-30) !important;
  width: 14rem !important;
}

.nav-link_get-appsmith {
  background-color: #f86a2b;
  border-radius: 0.25em;
  font-weight: 500;
  margin-right: 0.5rem;
  margin-left : 0.5rem;
  padding: 0.5rem 1rem;
  text-transform: capitalize;
  white-space: nowrap;
  color:#f3f5f7;
  font-size: .875rem;
}

.nav-link_get-appsmith:hover {
  background-color: #df5b23;
  color: #fff;
  text-decoration: none;
}

.navbar__items--right > :last-child {
  padding-right: 1em !important;
}

.gridContainer {
  max-width: 75%!important;
  box-sizing: border-box;
  width: 28%;
  height: 280px;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  padding: 50px;
  margin: 20px;
  float: left;
}


.containerRow {
  display: flex;
  flex-wrap: wrap;
  margin: 1;
}

.containerCol {
  --ifm-col-width: 100%;
  flex: 1 0;
  margin-left: 0;
  max-width: 95%;
  overflow: hidden;
}

.containerLink {
  border: 1px solid;
  border-radius:;
  display: block;
  margin-bottom: 1rem;
  padding: 0.75rem;
  vertical-align: left;
  font-size: .9rem;
  font-weight: 600;
  text-decoration: none;
  color: grey;
  cursor: pointer;
}

.containerDescription{
  margin: 1px;
  font-size: .9rem;
}

.containerImage {
 margin: 1px;
 font-weight: bold;
 vertical-align: center;
}

.containerTutorialLink{
  margin: 1px;
  font-size: .9rem;
  text-align: left;
}

.containerGrid {
  display: flex;
  height: fit-content;
  margin: 20px ;
}

.containerGridSampleApp {
  display: flex;
  height: fit-content;
  margin: 10px ;
}

.containerColumnSampleApp {
  border: 1px solid #dadce0 !important;
  border-radius: 4px;
  margin: 10px;
}
.columnGrid {
  flex: 1;
  /* background: #f2f2f2; */
  /* border: 1px solid #e6e6e6; */
  box-sizing: border-box;
  padding: 10px;
}

.column-one {
  order: 1;
  
}
.column-two {
  order: 2;
}
.column-three {
  order: 3;
}

.iconExternalLink_node_modules-\@docusaurus-theme-classic-lib-theme-Icon-ExternalLink-styles-module {
  display: none;
  }

 .downloadAssets {
  width: 25px!important;
  height: 40px !important;
 } 
  
 .img_node_modules-\@docusaurus-theme-classic-lib-theme-MDXComponents-Img-styles-module{
  border: 2px solid #f2f2f2;
  border-radius: 8px;
  display: block;
  margin: 1rem auto;
  max-width: 100%;
  width: 750px;
 }


div.containerColumnSampleApp.columnGrid > div.containerCol > img, .div.columnGrid > img{
border:none;
height: auto;
width: auto;
float: left;
 }
 
 
.containerGrid > div.columnGrid > div > a > img {
border:none;
height: auto;
width: auto;
 }

 /*embed code - 1 

 .youtube-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.youtube-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
*/

 /*embed code - 2
.embed-youtube {
  position: relative;
  padding-bottom: 56.25%; 
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.embed-youtube iframe,
.embed-youtube object,
.embed-youtube embed {
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
*/
