.custom-segmented-search-option {
    display: flex;
    overflow: hidden;
    height: 38px;
    border-radius: 5em;
    background-color: #000;
    color: #fff;
}

.custom-search-option {
    --primary-color: #000;
    --primary-light-color: #f9936b;
    flex: 1;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    gap: 4px;
    border-right: none;
    float: left;
    padding: 0.5rem;
    white-space: nowrap;
    font-size: 0.7rem;
    text-decoration: var(--ifm-link-decoration);
    transition: color var(--ifm-transition-fast) var(--ifm-transition-timing-default),
        background-color var(--ifm-transition-fast) var(--ifm-transition-timing-default),
        border-radius var(--ifm-transition-fast) var(--ifm-transition-timing-default);
}

.custom-search-option:hover,
.selected {
    background-color: #f0f0f0;
    color: #000;
    padding: 11px;
    
}

.custom-search-option:hover .doc-search-icon,
.custom-search-option:hover .ai-search-icon,
.selected .doc-search-icon,
.selected .ai-search-icon {
    color: #000;
}

.custom-search-option:last-child {
    border-right: none;
}

.icon {
    font-size: 12px;
}

.doc-search-icon,
.ai-search-icon {
    align-items: center;
    color: #fff;
    display: flex;
    justify-content: center;
    font-size: 1rem;
}