.custom-segmented-search-option {
    display: flex;
    overflow: hidden;
    height: 38px;
    border-radius: 0.25em;
    background-color: #f86a2b;
    color: #f3f5f7;
}

.custom-search-option {
    --primary-color: #f86a2b;
    --primary-light-color: #f9936b;
    flex: 1;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    gap: 4px;
    border-right: 2px solid #ccc;
    float: left;
    padding: 0.5rem 1rem;
    text-transform: capitalize;
    white-space: nowrap;
    font-size: 0.875rem;
    text-decoration: var(--ifm-link-decoration);
    transition: color var(--ifm-transition-fast) var(--ifm-transition-timing-default);
}

.custom-search-option:hover,
.selected {
    background-color: var(--ifm-color-primary-dark);
}

.custom-search-option:last-child {
    border-right: none;
}

.icon {
    font-size: 18px;
}

.doc-search-icon {
    align-items: center;
    color: #fff;
    display: flex;
    justify-content: center;
    font-size: 1.25rem;
}

.ai-search-icon {
    align-items: center;
    color: #fff;
    display: flex;
    justify-content: center;
    font-size: 1.25rem;
}