.custom-search-container {
    align-items: center;
    background: var(--docsearch-searchbox-focus-background);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1) !important;
    display: flex;
    height: var(--docsearch-searchbox-height);
    margin: 0;
    padding: 0 var(--docsearch-spacing);
    position: relative;
    width: 100%;
}

.ask-ai-modal-button {
    background-color: white;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.ai-search-result-wrapper {
    margin-top: 0;
    width: 100%;
    overflow-y: hidden;
}

#question-input {
    appearance: none;
    background: #fff;
    border: 0;
    color: var(--docsearch-text-color);
    flex: 1;
    font: inherit;
    font-size: 14px;
    outline: none;
    padding: 0 0 0 8px;
    width: 100%;
    height: 56px;
    font-weight: 400;
    line-height: 20px;
    box-sizing: border-box;
}

.ai-robot-icon {
    align-items: center;
    color: var(--docsearch-highlight-color);
    display: flex;
    justify-content: center;
    font-size: 1.25rem;
    height: 24px;
    width: 24px;
}

.ai-search-result-wrapper input:focus {
    outline: none;
}

.ai-result-container {
    padding: 10px;
    margin-top: 10px;
    overflow-y: auto;
    text-align: left;
    color: black;
}

.ai-query-wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 4px, 8px, 4px, 8px;
    border-radius: 4px;
    gap: 8px;
}

.ai-query-heading {
    font-size: 14px;
    font-weight: 600;
    line-height: 32px;
    margin: 0 -4px;
    padding: 0px 4px 0;
    position: sticky;
    top: 0;
    z-index: 10;
}

.ai-search-term {
    cursor: pointer;
    color: #333;
    text-decoration: none;
    padding: 10px;
    font-size: 14px;
    height: 36px;
    border-radius: 4px;
    line-height: 12px;
}

.ai-search-term:hover {
    background-color: #FFFFFF;
    box-shadow: 0 1px 1px #ddd;
}

.search-term-answer {
    max-height: 400px;
    overflow-y: auto;
    padding: 4px 0px 0px;
    gap: 8px;
}

.search-term-answer h1 {
    font-size: 22px;
}

.search-term-answer h2 {
    font-size: 18px;

}

.search-term-answer h3 {
    font-size: 16px;
}

.search-term-answer h4 {
    font-size: 14px;
}

.search-term-answer h5 {
    font-size: 12px;
}

.search-term-answer h1,
h2,
h3,
h4,
h5 {
    font-weight: 600;
    line-height: 24px;
}

.search-term-answer p {
    margin: 0;
    line-height: 1.4;
    color: #333;
    font-size: .75em;
}

.search-term-answer ol {
    list-style-type: decimal;
    font-size: 0.75em;
    text-indent: 8px;
}

.search-term-answer ul {
    list-style-type: disc;
    font-size: 0.75em;
}

.search-term-answer li {
    margin-bottom: 5px;
    font-size: inherit;
}

.search-term-answer li>p {
    font-size: inherit;
}

.search-term-answer pre {
    background-color: #E3E8EF;
    margin-top: 3px;
    border: 0.67px;
    border-radius: 5.35px;
    height: 62.07px;
    width: 96%;
    overflow: hidden;
}

.search-term-answer code {
    color: #4C5664;
    padding: 2px 5px;
    border-radius: 4px;
    font-family: 'Courier New', monospace;
    font-size: 13px;
    font-weight: 400;
}

.search-term-answer .callout {
    background-color: #ffd700;
    padding: 10px;
    border: 1px solid #e6db55;
    border-radius: 4px;
    margin: 10px 0;
    color: #333;
    font-style: italic;
}

.ai-result-container>.feedback-widget-container>.feedback-heading {
    font-size: 0.75em;

}

.ai-result-container>.feedback-widget-container {
    padding: 16px 20px;
}

.ai-search-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.ai-search-modal-content {
    padding: 20px;
    background: var(--docsearch-modal-background);
    text-align: center;
    position: relative;
    width: 70%;
    min-height: 40%;
    margin: 4% auto;
    border-radius: 8px;
    box-shadow: var(--docsearch-modal-shadow);
    position: relative;
}

.ai-search-bar-header {
    display: flex;
    padding: var(--docsearch-spacing) var(--docsearch-spacing) 0;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}

.show {
    display: block;
}

.loading-icon-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-icon {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.DocSearch-Form {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1) !important;
}

.DocSearch-Input {
    font-size: 0.89em !important;
}
