.custom-search-container {
    display: flex;
    align-items: center;
    background-color: white;
}

.ask-ai-modal-button {
    background-color: white;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.ai-search-result-wrapper {
    margin-top: 20px;
    width: 100%;
}

.ai-search-result-wrapper input {
    background-color: transparent;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    font-size: 0.875rem;
    margin-left: 5px;
}

.ai-search-result-wrapper input:focus {
    outline: none;
}

.ai-result-container {
    background-color: #f5f6f7;
    padding: 10px;
    margin-top: 10px;
    overflow-y: auto;
    text-align: left;
    color: black;
}

.ai-query-wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-bottom: 50px;
}

.ai-query-heading {
    color: #333;
    text-decoration: none;
    padding: 6px;
    font-size: 0.9rem;
}

.ai-search-term {
    cursor: pointer;
    color: #333;
    text-decoration: none;
    padding: 10px;
    font-size: 0.875rem;
}

.ai-search-term:hover {
    background-color: #FFF4;
    box-shadow: 0 1px 1px #ddd;
}

.user-search-term {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.user-icon {
    color: orange;
    border: 2px solid orange;
    border-radius: 50%;
    font-size: 24px;
    padding: 4px;
    margin-right: 8px;
    margin-top: 10px;
}

.comment-icon {
    color: orange;
    border: 2px solid orange;
    border-radius: 50%;
    font-size: 24px;
    padding: 4px;
    margin-right: 8px;
}

.search-term-answer {
    margin-bottom: 16px;
    max-height: 400px;
    overflow-y: auto;
}

.search-term-answer p {
    margin: 0;
    line-height: 1.4;
    color: #333;
}

.ai-search-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.ai-search-modal-content {
    background-color: #f5f6f7;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    position: relative;
    width: 70%;
    margin: 4% auto;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}

.show {
    display: block;
}