.zoomable-image {
    cursor: pointer;
    position: relative;
}

.zoomable-image img {
    height: auto;
    border: 2px solid #f2f2f2;
    border-radius: 8px;
    display: block;
    margin: 1rem auto;
}

.image-tooltip {
    text-decoration: none;
    position: relative;
}

.image-tooltip span {
    display: none;
    position: absolute;
    padding: 5px;
    font-size: 0.8em;
    white-space: nowrap;
}

.image-tooltip:hover span {

    display: block;
    position: fixed;
    overflow: hidden;

}

.zoomable-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.zoomable-modal-content {
    max-width: 80%;
    max-height: 95%;
    overflow: hidden;
    background: #fff;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.zoomable-modal-content img {
    width: 100%;
    height: auto;
}